<a href="https://colab.research.google.com/github/pe44enka/Yelp/blob/master/DA_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from pandas.io.json import json_normalize
import urllib.request
import json

# Data Preparation

## Business Data

In [0]:
#create a df from json (incl nested jsons)
business = []
with urllib.request.urlopen('https://raw.githubusercontent.com/pe44enka/Yelp/master/data/business_simple_cleveland.json') as url:
  for line in url:
    business.append(json.loads(line))
business_data = json_normalize(business)
business_data.head()

                    address  ... attributes.Corkage
0  2128 Warrensville Ctr Rd  ...                NaN
1            3710 Payne Ave  ...                NaN
2            13181 Cedar Rd  ...                NaN
3                            ...                NaN
4             1 American Rd  ...                NaN

[5 rows x 94 columns]

In [0]:
#checking wich columns have more than 50% of missing data
missing_data =(business_data.isna().mean()*100).pipe(lambda ser: ser[ser>50])
missing_data.index

Index(['hours.Sunday', 'attributes.Caters', 'attributes.WiFi',
       'attributes.OutdoorSeating', 'attributes.RestaurantsDelivery',
       'attributes.RestaurantsTakeOut', 'attributes.WheelchairAccessible',
       'attributes.GoodForMeal.dessert', 'attributes.GoodForMeal.latenight',
       'attributes.GoodForMeal.lunch', 'attributes.GoodForMeal.dinner',
       'attributes.GoodForMeal.brunch', 'attributes.GoodForMeal.breakfast',
       'attributes.Alcohol', 'attributes.HasTV', 'attributes.GoodForKids',
       'attributes.NoiseLevel', 'attributes.RestaurantsAttire',
       'attributes.RestaurantsReservations',
       'attributes.RestaurantsTableService', 'attributes.Ambience.romantic',
       'attributes.Ambience.intimate', 'attributes.Ambience.classy',
       'attributes.Ambience.hipster', 'attributes.Ambience.divey',
       'attributes.Ambience.touristy', 'attributes.Ambience.trendy',
       'attributes.Ambience.upscale', 'attributes.Ambience.casual',
       'attributes.RestaurantsGoodForGroups', 'attributes.GoodForDancing',
       'attributes.Music.dj', 'attributes.Music.background_music',
       'attributes.Music.no_music', 'attributes.Music.jukebox',
       'attributes.Music.live', 'attributes.Music.video',
       'attributes.Music.karaoke', 'attributes.BusinessAcceptsBitcoin',
       'attributes.HappyHour', 'attributes.DogsAllowed',
       'attributes.BestNights.monday', 'attributes.BestNights.tuesday',
       'attributes.BestNights.friday', 'attributes.BestNights.wednesday',
       'attributes.BestNights.thursday', 'attributes.BestNights.sunday',
       'attributes.BestNights.saturday', 'attributes.CoatCheck',
       'attributes.Smoking', 'attributes.ByAppointmentOnly',
       'attributes.DriveThru', 'attributes.BYOBCorkage',
       'attributes.HairSpecializesIn.coloring',
       'attributes.HairSpecializesIn.africanamerican',
       'attributes.HairSpecializesIn.curly',
       'attributes.HairSpecializesIn.perms',
       'attributes.HairSpecializesIn.kids',
       'attributes.HairSpecializesIn.extensions',
       'attributes.HairSpecializesIn.asian',
       'attributes.HairSpecializesIn.straightperms',
       'attributes.RestaurantsCounterService', 'attributes.BYOB',
       'attributes.AgesAllowed', 'attributes.AcceptsInsurance',
       'attributes.Open24Hours', 'attributes.Corkage'],
      dtype='object')

In [0]:
#drop columns with info missed for more than 50%
business_data = business_data.drop(columns=['attributes.Caters', 'attributes.WiFi',
       'attributes.OutdoorSeating', 'attributes.RestaurantsDelivery',
       'attributes.RestaurantsTakeOut', 'attributes.WheelchairAccessible',
       'attributes.GoodForMeal.dessert', 'attributes.GoodForMeal.latenight',
       'attributes.GoodForMeal.lunch', 'attributes.GoodForMeal.dinner',
       'attributes.GoodForMeal.brunch', 'attributes.GoodForMeal.breakfast',
       'attributes.Alcohol', 'attributes.HasTV', 'attributes.GoodForKids',
       'attributes.NoiseLevel', 'attributes.RestaurantsAttire',
       'attributes.RestaurantsReservations',
       'attributes.RestaurantsTableService', 'attributes.Ambience.romantic',
       'attributes.Ambience.intimate', 'attributes.Ambience.classy',
       'attributes.Ambience.hipster', 'attributes.Ambience.divey',
       'attributes.Ambience.touristy', 'attributes.Ambience.trendy',
       'attributes.Ambience.upscale', 'attributes.Ambience.casual',
       'attributes.RestaurantsGoodForGroups', 'attributes.GoodForDancing',
       'attributes.Music.dj', 'attributes.Music.background_music',
       'attributes.Music.no_music', 'attributes.Music.jukebox',
       'attributes.Music.live', 'attributes.Music.video',
       'attributes.Music.karaoke', 'attributes.BusinessAcceptsBitcoin',
       'attributes.HappyHour', 'attributes.DogsAllowed',
       'attributes.BestNights.monday', 'attributes.BestNights.tuesday',
       'attributes.BestNights.friday', 'attributes.BestNights.wednesday',
       'attributes.BestNights.thursday', 'attributes.BestNights.sunday',
       'attributes.BestNights.saturday', 'attributes.CoatCheck',
       'attributes.Smoking', 'attributes.ByAppointmentOnly',
       'attributes.DriveThru', 'attributes.BYOBCorkage',
       'attributes.HairSpecializesIn.coloring',
       'attributes.HairSpecializesIn.africanamerican',
       'attributes.HairSpecializesIn.curly',
       'attributes.HairSpecializesIn.perms',
       'attributes.HairSpecializesIn.kids',
       'attributes.HairSpecializesIn.extensions',
       'attributes.HairSpecializesIn.asian',
       'attributes.HairSpecializesIn.straightperms',
       'attributes.RestaurantsCounterService', 'attributes.BYOB',
       'attributes.AgesAllowed', 'attributes.AcceptsInsurance',
       'attributes.Open24Hours', 'attributes.Corkage', 
       'attributes.RestaurantsPriceRange2'
        ])
business_data.head()

                    address  ... attributes.BikeParking
0  2128 Warrensville Ctr Rd  ...                    NaN
1            3710 Payne Ave  ...                   True
2            13181 Cedar Rd  ...                   True
3                            ...                    NaN
4             1 American Rd  ...                    NaN

[5 rows x 27 columns]

In [0]:
#rename columns
business_data = business_data.rename(columns={'attributes.BusinessParking.garage':'parking.garage',
                              'attributes.BusinessParking.street':'parking.street',
                              'attributes.BusinessParking.validated':'parking.validated',
                              'attributes.BusinessParking.lot':'parking.lot',
                              'attributes.BusinessParking.valet':'parking.vallet',
                              'attributes.BikeParking':'parking.bike',
                              'attributes.BusinessAcceptsCreditCards':'AcceptsCreditCards'})

In [0]:
# extract category from list 
categories = []
for i, category in enumerate(business_data['categories']):
  if category:
    categories.append(category[0])
  else:
    categories.append(None)

# delete old categories column and add a new one
business_data = business_data.drop(columns = ['categories'])
business_data['categories'] = categories
business_data.head()

                    address  ...                 categories
0  2128 Warrensville Ctr Rd  ...                   Car Wash
1            3710 Payne Ave  ...                       Food
2            13181 Cedar Rd  ...                    Chinese
3                            ...              Home Services
4             1 American Rd  ...  Event Planning & Services

[5 rows x 27 columns]

In [0]:
#save achieved df to csv-file
#side menu --> Files --> name of csv-file --> download
business_data.to_csv('business_data.csv')

## User Data

In [0]:
#create a df from json (incl nested jsons)
user = []
with urllib.request.urlopen('https://raw.githubusercontent.com/pe44enka/Yelp/master/data/user_sample_cleveland.json') as url:
  for line in url:
    user.append(json.loads(line))
user_data = json_normalize(user)
user_data

       average_stars  compliment_cool  ...                 user_id  yelping_since
0               3.94             1556  ...  om5ZiponkpRqUNa3pVPiRg     2006-01-18
1               3.76                9  ...  D-ydMTPGWXTVm4_jjp0k9g     2013-04-01
2               4.15                6  ...  s8bVHRqx6cI8F8HGf3A_og     2014-12-18
3               3.95                5  ...  YJLlvBPtvB8iJg8_WKxVzQ     2014-03-01
4               4.35               34  ...  3lil3eH4skNVzI0y3vM72w     2010-02-13
...              ...              ...  ...                     ...            ...
33223           2.00                0  ...  mF2SwgBpL1ImRCn82KTM5w     2011-01-15
33224           3.83                0  ...  al3NyKEJ3KBH-AJAO-YLVw     2010-07-25
33225           2.00                0  ...  s945Oc9CBwsNFDVOITwhTw     2013-09-01
33226           4.00                0  ...  mau35GyHq9qDK-arfuNztQ     2012-04-23
33227           5.00                0  ...  vP8Vm8McFdpWvCDD8lA2fg     2014-03-03

[33228 rows x 22 columns]

In [0]:
#drop unneded columns
user_data = user_data.drop(columns = ['friends'])
user_data.head()

   average_stars  compliment_cool  ...                 user_id  yelping_since
0           3.94             1556  ...  om5ZiponkpRqUNa3pVPiRg     2006-01-18
1           3.76                9  ...  D-ydMTPGWXTVm4_jjp0k9g     2013-04-01
2           4.15                6  ...  s8bVHRqx6cI8F8HGf3A_og     2014-12-18
3           3.95                5  ...  YJLlvBPtvB8iJg8_WKxVzQ     2014-03-01
4           4.35               34  ...  3lil3eH4skNVzI0y3vM72w     2010-02-13

[5 rows x 21 columns]

In [0]:
# extract elite year from list 
elite = []
for i, years in enumerate(user_data['elite']):
  if years:
    years.sort()
    elite.append(years[0])
  else:
    elite.append(None)

# delete old elite column and add a new one
user_data = user_data.drop(columns = ['elite'])
user_data['elite_since'] = elite
user_data.head()

   average_stars  compliment_cool  ...  yelping_since  elite_since
0           3.94             1556  ...     2006-01-18       2006.0
1           3.76                9  ...     2013-04-01       2016.0
2           4.15                6  ...     2014-12-18          NaN
3           3.95                5  ...     2014-03-01       2015.0
4           4.35               34  ...     2010-02-13       2012.0

[5 rows x 21 columns]

In [0]:
#checking for missing data
missing_data =(user_data.isna().mean()*100)
missing_data

average_stars          0.000000
compliment_cool        0.000000
compliment_cute        0.000000
compliment_funny       0.000000
compliment_hot         0.000000
compliment_list        0.000000
compliment_more        0.000000
compliment_note        0.000000
compliment_photos      0.000000
compliment_plain       0.000000
compliment_profile     0.000000
compliment_writer      0.000000
cool                   0.000000
fans                   0.000000
funny                  0.000000
name                   0.000000
review_count           0.000000
useful                 0.000000
user_id                0.000000
yelping_since          0.000000
elite_since           89.259059
dtype: float64

In [0]:
#save achieved df to csv-file
#side menu --> Files --> name of csv-file --> download
user_data.to_csv('user_data.csv')

## Review Data

In [0]:
#create a df from json (incl nested jsons)
review = []
with urllib.request.urlopen('https://raw.githubusercontent.com/pe44enka/Yelp/master/data/review_sample_cleveland.json') as url:
#('https://raw.githubusercontent.com/ahegel/yelp-dataset/master/data/review_sample_cleveland.json') as url:
  for line in url:
    review.append(json.loads(line))
review_data = json_normalize(review)
review_data.head()

              business_id  cool  ... useful                 user_id
0  Jdqg97lLo_qJlCqU9RjIEA     1  ...      1  j5yfS1QjGwNLQ0h4_wDyxg
1  Jdqg97lLo_qJlCqU9RjIEA     1  ...      0  dk8-B6hKb1XOmYJKC4Ig3Q
2  Jdqg97lLo_qJlCqU9RjIEA     0  ...      0  9RG87QSBaTmcbDu3ydQJ2g
3  Jdqg97lLo_qJlCqU9RjIEA     0  ...      0  y6IogOYLjAs8Mksx62vnDQ
4  Jdqg97lLo_qJlCqU9RjIEA     0  ...      0  VKwI11qTXOxHmlh2yr_2TQ

[5 rows x 9 columns]

In [0]:
# delete new char from reviews 
text = []
while 1:
  for i, review in enumerate(review_data['text']): 
    if '\n' in text:
      review = review.replace('\n', ' ')
      text.append(review)
    else:
      text.append(review)
  if i == 7: break
    

# delete old text column and add a new one
review_data = review_data.drop(columns = ['text'])
review_data['text'] = text
review_data.head()

              business_id  ...                                               text
0  Jdqg97lLo_qJlCqU9RjIEA  ...  Dipped cone all the way! This location is tric...
1  Jdqg97lLo_qJlCqU9RjIEA  ...  Always amazing food and service. Love their ch...
2  Jdqg97lLo_qJlCqU9RjIEA  ...  This place is literally the worst. Hopefully t...
3  Jdqg97lLo_qJlCqU9RjIEA  ...  Very nice and new. Staff is always friendly bu...
4  Jdqg97lLo_qJlCqU9RjIEA  ...  Nothing special about this place, their ice cr...

[5 rows x 9 columns]

In [0]:
#save achieved df to csv-file
#side menu --> Files --> name of csv-file --> download
review_data.to_csv('review_data.csv')

In [0]:
#create a df from json (incl nested jsons)
tip = []
with urllib.request.urlopen('https://raw.githubusercontent.com/ahegel/yelp-dataset/master/data/tip_sample_cleveland.json') as url:
  for line in url:
    tip.append(json.loads(line))
tip_data = json_normalize(tip)
tip_data.head()

              business_id  ...                 user_id
0  MTsIckdo3_uKuqk3B4zuKA  ...  MolXvMRbUNY6Yr_s0zEQ0A
1  uv-e-d43NN-1_DcCoJL-Og  ...  blrWvPePSv87aU9hV1Zd8Q
2  0youcKV6-eE3F2MQj1l6Fw  ...  blrWvPePSv87aU9hV1Zd8Q
3  CDqPVVvQtVncNQGydnZy7A  ...  JE2qFjL4BaUbiI-cT5MSBw
4  pGjtxXBq4tZcdKdgTU-Tww  ...  a4pc6NRtbGkO7koP8qrVsg

[5 rows x 5 columns]

In [0]:
#save achieved df to csv-file
#side menu --> Files --> name of csv-file --> download
tip_data.to_csv('tip_data.csv')

# Data quality

## First-look analysis

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/pe44enka/Yelp/master/data/FINAL_yelp_dataset_cleveland.csv')
df.head()

     ID             BUSINESS_ID  ... COMPLIMENT_PROFILE COMPLIMENT_WRITER
0  1645  tulUhFYMvBkYHsjmn30A9w  ...                  0                 5
1  1645  tulUhFYMvBkYHsjmn30A9w  ...                  0                 5
2  1645  tulUhFYMvBkYHsjmn30A9w  ...                  0                 0
3  1645  tulUhFYMvBkYHsjmn30A9w  ...                  0                 0
4   325  Jdqg97lLo_qJlCqU9RjIEA  ...                 15                35

[5 rows x 56 columns]

In [0]:
df.dtypes

ID                      int64
BUSINESS_ID            object
COMPANY_NAME           object
CATEGORIES             object
IS_OPEN                 int64
COMPANY_STARS         float64
COMPANY_REVIEWS         int64
ADDRESS                object
NEIGHBORHOOD           object
CITY                   object
STATE                  object
POSTAL_CODE           float64
LATITUDE              float64
LONGITUDE             float64
HOURS_MONDAY           object
HOURS_TUESDAY          object
HOURS_WEDNESDAY        object
HOURS_THURSDAY         object
HOURS_FRIDAY           object
HOURS_SATURDAY         object
HOURS_SUNDAY           object
ACCEPT_CREDIT_CARD     object
PARKING_GARAGE         object
PARKING_STREET         object
PARKING_VALIDATED      object
PARKING_LOT            object
PARKING_VALLET         object
PARKING_BIKE           object
REVIEW_ID              object
DATE_REVIEW            object
STARS                   int64
REVIEW                 object
USEFUL_REVIEW           int64
COOL_REVIEW             int64
FUNNY_REVIEW            int64
USER_ID                object
USER_NAME              object
REVIEWS_BY_USER         int64
USER_AVERAGE_STAR     float64
YELPING_USER_SINCE     object
ELITE_USER_SINCE      float64
USEFUL_USER             int64
COOL_USER               int64
FUNNY_USER              int64
USER_FANS               int64
COMPLIMENT_COOL         int64
COMPLIMENT_CUTE         int64
COMPLIMENT_FUNNY        int64
COMPLIMENT_HOT          int64
COMPLIMENT_LIST         int64
COMPLIMENT_MORE         int64
COMPLIMENT_NOTE         int64
COMPLIMENT_PHOTOS       int64
COMPLIMENT_PLAIN        int64
COMPLIMENT_PROFILE      int64
COMPLIMENT_WRITER       int64
dtype: object

## Categories

In [0]:
df.CATEGORIES.value_counts(dropna = False)

Restaurants               18356
Food                       5340
Bars                       4580
Nightlife                  3557
American (Traditional)     2836
                          ...
Keys & Locksmiths             3
Massage Therapy               3
Employment Law                3
Masonry/Concrete              3
Electronics                   2
Name: CATEGORIES, Length: 393, dtype: int64

In [140]:
def limit_categories(val):
  if val in ('Restaurants', 'Food', 'American (Traditional)', 'American (New)', 
             'Pizza', 'Breakfast & Brunch', 'Sandwiches', 'Seafood', 'Italian', 'Salad',
             'Mexican', 'Ice Cream & Frozen Yogurt', 'Coffee & Tea', 'Mediterranean',
             'Sushi Bars', 'Chinese', 'Soup', 'Bakeries', 'Thai', 'French', 
             'Asian Fusion', 'Burgers', 'Fast Food', 'Noodles', 'Diners', 'Vietnamese',
             'Japanese', 'Specialty Food', 'Caterers', 'Gluten-Free', 'Indian',
             'Steakhouses', 'Grocery', 'Vegetarian', 'Cajun/Creole','Delis',
             'Middle Eastern', 'Cambodian', 'Donuts', 'Cafes', 'Ethnic Food',
             'Tapas/Small Plates', 'Desserts', 'Barbeque', 'Southern', 'Brazilian', 
             'Lebanese', 'Bagels', 'Szechuan', 'Soul Food', 'Comford Food','Salvadoran',
             'Vegan', 'Mongolian', 'Irish', 'Tea Rooms','Buffets', 'Chicken Wings',
             'Comfort Food', 'Juice Bars & Smoothies', 'Greek', 'Gastropubs',
             'British', 'Korean', 'Cuban', 'Cupcakes', 'Caribbean','Food Stands',
             'Tacos','Creperies'):
    return ('restaurants')
  elif val in ('Bars', 'Nightlife', 'Breweries', 'Lounges', 'Pubs', 'Cocktail Bars', 
               'Wine Bars', 'Beer', 'Beer Bar', 'Dance Clubs', 'Sports Bars', 
               'Dive Bars', 'Beer Gardens'):
    return('bars')
  elif val in ('Beauty & Spas', 'Polish', 'Hair Salons', 'Nail Salons', 'Hair Removal',
                  'Barbers', 'Day Spas', 'Hair Stylists'):
    return('beauty_spa')
  elif val in ('Hotels & Travel', 'Hotels', 'Airports','Car Rental', 'Transportation',
               'Resorts', 'Airlines'):
    return('travel')
  elif val in ('Public Services & Government', 'Local Services', 'Education', 'Home Services'):
    return('public_service')
  elif val in ('Arts & Entertainment', 'Event Planning & Services', 'Venues & Event Spaces', 
               'Shopping', 'Active Life', 'Adult Entertainment', 'Museums', 'Stadiums & Arenas',
               'Fashion', 'Music & DVDs', 'Music Venues', 'Cinema', 'Gyms', 'Art Galleries',
               'Fitness & Instruction', 'Aquariums', 'Performing Arts', "Women's Clothing",
               'Yoga','Shopping Centers', 'Party & Event Planning', 'Wedding Planning', 
               'Festivals'):
    return('entertainment')
  return 'other'

df.CATEGORIES.apply(limit_categories).value_counts()

0        restaurants
1        restaurants
2        restaurants
3        restaurants
4        restaurants
            ...
88511    restaurants
88512    restaurants
88513          other
88514          other
88515          other
Name: CATEGORIES, Length: 88516, dtype: object

## Is Open

In [37]:
df.IS_OPEN.value_counts(dropna = False)

1    79325
0     9191
Name: IS_OPEN, dtype: int64

## Company Star

In [36]:
df.COMPANY_STARS.value_counts(dropna=False)

4.0    33907
3.5    17977
4.5    15627
3.0    10718
2.5     4222
5.0     3213
2.0     1681
1.5      879
1.0      292
Name: COMPANY_STARS, dtype: int64

In [81]:
df.COMPANY_STARS.isna().sum()

0

## Company_review

In [74]:
df.COMPANY_REVIEWS.value_counts(dropna=False)

3      1558
4      1334
5      1251
6      1145
35     1004
       ...
113     112
112     112
52      102
92       89
68       68
Name: COMPANY_REVIEWS, Length: 224, dtype: int64

## Review Bin

In [73]:
review_bin = pd.cut(df.COMPANY_REVIEWS, bins=8, labels=[str(x) for x in range(1,9)])
review_bin.value_counts(dropna=False)

1    51480
2    16907
3     7716
5     4349
4     3717
8     1729
7     1355
6     1263
Name: COMPANY_REVIEWS, dtype: int64

## Address

In [80]:
df.ADDRESS.value_counts(dropna = False)

5300 Riverside Dr    1256
2038 E 4th St         885
2058 E 4th St         844
NaN                   745
2516 Market Ave       687
                     ...
4301 State Rd           2
16902 Harvard Ave       2
435 E 200th St          2
6347 State Rd           2
6405 York Rd            2
Name: ADDRESS, Length: 2622, dtype: int64

In [94]:
def limit_address(val):
  if val in ('Euclid Ave', 'W 25th St', 'E 4th St', 'Lorain Ave', 'Mayfield Rd', 'Detroit Ave', 'Lee Rd', 'Coventry Rd', 
             'Professor Ave', 'Cedar Rd', 'W 11th St', 'Pearl Rd', 'Riverside Dr', 'Market Ave', 'W 6th St', 'Fulton Rd'):
    return val
  return 'other'

(df.ADDRESS
 .str.split(' ', 1 ,expand = True)
 .loc[:,1]
 .apply(limit_address)
 .value_counts().head(20)
 )

other            47956
Euclid Ave        6739
W 25th St         4474
E 4th St          3674
Lorain Ave        3633
Mayfield Rd       3269
Detroit Ave       3180
Lee Rd            2481
Coventry Rd       2422
Professor Ave     1661
Cedar Rd          1642
W 11th St         1280
Pearl Rd          1260
Riverside Dr      1256
Market Ave        1207
W 6th St          1196
Fulton Rd         1186
Name: 1, dtype: int64

## Neighborhood

In [0]:
df.NEIGHBORHOOD.value_counts(dropna = False)

NaN                   21430
Gateway District      12570
Ohio City             10647
Tremont                8069
Detroit-Shoreway       3965
Goodrich Kirtland      3388
Warehouse District     3258
University             2884
Little Italy           2268
Riverside              2056
Civic Center           2021
Old Brooklyn           1484
Playhouse Square       1456
Edgewater              1350
Jefferson              1346
Northeast District     1319
Tower City             1289
East Bank              1176
Quadrangle              861
West Bank               771
Fairfax                 663
Northeast Shores        643
North Collinwood        389
West Boulevard          388
Central                 296
St Clair-Superior       260
Puritas-Longmead        246
Clark-Fulton            245
Cascade Crossing        209
Cudell                  206
Brooklyn-Centre         175
Chinatown               135
South Broadway          124
Glenville               112
The Flats               104
Hough                    95
South Collinwood         82
Whiskey Island           77
Stockyards               75
Brooklyn                 72
Forrest Hill             64
East Cleveland           58
Industrial Valley        47
Ridge & Memphis          45
North Broadway           35
East 185th               32
Euclid-Green             13
Kinsman                   8
Windemere                 7
Brooklyn Acres            3
Name: NEIGHBORHOOD, dtype: int64

In [0]:
def limit_neighborhood(val):
  if val in ('Gateway District', 'Ohio City', 'Tremont', 'Detroit-Shoreway', 'Goodrich Kirtland',
            'Warehouse District', 'University', 'Little Italy', 'Riverside', 'Civic Center'):
    return val
  return 'other'

df.NEIGHBORHOOD.apply(limit_neighborhood).value_counts()

other                 37390
Gateway District      12570
Ohio City             10647
Tremont                8069
Detroit-Shoreway       3965
Goodrich Kirtland      3388
Warehouse District     3258
University             2884
Little Italy           2268
Riverside              2056
Civic Center           2021
Name: NEIGHBORHOOD, dtype: int64

## Postal Code

In [108]:
df.POSTAL_CODE.value_counts(dropna=False).head()

44113.0    25443
44114.0    10868
44115.0    10217
44106.0     8348
44118.0     6889
Name: POSTAL_CODE, dtype: int64

In [142]:
df.POSTAL_CODE.fillna('0').astype(int).value_counts().head()

44113    25443
44114    10868
44115    10217
44106     8348
44118     6889
Name: POSTAL_CODE, dtype: int64

## Hours

### Open Hours

In [146]:
def open_hours(ser):
  return ser.str.split(':',1, expand = True).iloc[:,0].fillna('-1').astype(int)

open_hours(df.HOURS_MONDAY).value_counts()

 11    26853
-1     20013
 16     7583
 7      6099
 10     6058
 17     5326
 6      4314
 9      3472
 0      2547
 8      2395
 12     1576
 5       774
 15      769
 14      190
 18      155
 13      152
 19      136
 4        56
 22       24
 20       21
 21        3
Name: 0, dtype: int64

### Close Hours

In [147]:
def close_hours(ser):
  return ser.str.split('-',1, expand = True).iloc[:,1].str.split(':', expand=True).iloc[:,0].fillna('-1').astype(int)

close_hours(df.HOURS_MONDAY).value_counts()

-1     20013
 22    17585
 0      8502
 21     8043
 2      7617
 23     5774
 20     4219
 17     3639
 19     2732
 18     2693
 14     2092
 15     1851
 1      1700
 16     1320
 12      296
 6       196
 3        76
 4        68
 13       67
 5        23
 9        10
Name: 0, dtype: int64

## Accept Credit Card

In [138]:
df.ACCEPT_CREDIT_CARD.fillna('-1').astype(int).value_counts(dropna = False)

 1    80699
-1     5787
 0     2030
Name: ACCEPT_CREDIT_CARD, dtype: int64

## Parking

In [196]:
df.PARKING_GARAGE.value_counts(dropna=False)

False    68831
NaN      11818
True      7867
Name: PARKING_GARAGE, dtype: int64

In [156]:
def parking(ser):
  return ser.fillna('-1').astype(int)

parking(df.PARKING_LOT).value_counts(dropna=False)

 0    53056
 1    23642
-1    11818
Name: PARKING_LOT, dtype: int64

## Sentimental Analysis

In [240]:
positive_word, negative_word = [], []
with urllib.request.urlopen('https://raw.githubusercontent.com/pe44enka/Yelp/master/data/positive.txt') as url:
  for line in url:
    positive_word.append(url.readline().decode()[:-2])
with urllib.request.urlopen('https://raw.githubusercontent.com/pe44enka/Yelp/master/data/negative.txt') as url:
  for line in url:
    negative_word.append(url.readline().decode()[:-1])
def sent_analysis(val):
  negative = positive = 0
  for word in val.split():
    if word in negative_word:
      negative += 1 
    elif word in positive_word:
      positive += 1
  if negative > positive:
    return 'negative'
  elif negative < positive:
    return 'positive'
  else:
    return 'neutral'

df.REVIEW.loc[:100].apply(sent_analysis).value_counts()

negative    51
positive    26
neutral     24
Name: REVIEW, dtype: int64

## Review Date

In [242]:
df.DATE_REVIEW.value_counts(dropna = False)

5/29/15     163
8/10/15      95
7/9/17       92
6/9/17       89
7/23/17      87
           ...
7/20/08       1
6/5/08        1
5/9/09        1
6/14/08       1
12/29/06      1
Name: DATE_REVIEW, Length: 3743, dtype: int64

In [243]:
df.DATE_REVIEW.isna().sum()

0

In [250]:
#year
pd.to_datetime(df.DATE_REVIEW.loc[:5]).dt.year

0    2013
1    2009
2    2015
3    2015
4    2012
5    2016
Name: DATE_REVIEW, dtype: int64

In [252]:
#month
pd.to_datetime(df.DATE_REVIEW.loc[:5]).dt.month

0    2
1    3
2    1
3    4
4    9
5    9
Name: DATE_REVIEW, dtype: int64

In [253]:
#day name
pd.to_datetime(df.DATE_REVIEW.loc[:5]).dt.day_name()

0    Saturday
1      Friday
2      Sunday
3    Thursday
4    Saturday
5    Saturday
Name: DATE_REVIEW, dtype: object

## Stars

In [254]:
df.STARS.value_counts(dropna = False)

5    35073
4    24507
3    11441
1     9607
2     7888
Name: STARS, dtype: int64

## Usefull Review

In [267]:
df.USEFUL_REVIEW#.value_counts(dropna = False)

0        10
1         3
2         0
3         2
4         1
         ..
88511     1
88512     0
88513     0
88514     1
88515     0
Name: USEFUL_REVIEW, Length: 88516, dtype: int64

In [258]:
df.USEFUL_REVIEW.dtypes

dtype('int64')

In [260]:
def useful(val):
  if val > 1:
    return 'very useful'
  elif val == 1:
    return 'useful'
  else:
    return 'not rated'

df.USEFUL_REVIEW.apply(useful).value_counts()

not rated      45942
useful         21813
very useful    20761
Name: USEFUL_REVIEW, dtype: int64

## Cool Review

In [266]:
df.COOL_REVIEW.value_counts(dropna=False)

0        3
1        3
2        0
3        0
4        1
        ..
88511    1
88512    0
88513    0
88514    0
88515    0
Name: COOL_REVIEW, Length: 88516, dtype: int64

In [263]:
df.COOL_REVIEW.dtypes

dtype('int64')

In [264]:
def cool(val):
  if val > 1:
    return 'very cool'
  elif val == 1:
    return 'cool'
  else:
    return 'not rated'

df.COOL_REVIEW.apply(cool)

0        very cool
1        very cool
2        not rated
3        not rated
4             cool
           ...
88511         cool
88512    not rated
88513    not rated
88514    not rated
88515    not rated
Name: COOL_REVIEW, Length: 88516, dtype: object

## Funny Review

In [273]:
df.FUNNY_REVIEW.value_counts(dropna = False)

0      68622
1      12809
2       3412
3       1547
4        792
5        459
6        267
7        183
8        126
9         91
10        59
11        30
12        29
13        12
15        12
14        11
16         8
19         7
17         6
18         6
22         4
26         4
20         3
21         3
24         2
55         1
68         1
54         1
53         1
111        1
37         1
27         1
29         1
28         1
89         1
23         1
59         1
Name: FUNNY_REVIEW, dtype: int64

In [269]:
df.FUNNY_REVIEW.dtypes

dtype('int64')

In [270]:
def funny(val):
  if val > 1:
    return 'very funny'
  elif val == 1:
    return 'funny'
  else:
    return 'not rated'

df.FUNNY_REVIEW.apply(funny).value_counts()

not rated     68622
funny         12809
very funny     7085
Name: FUNNY_REVIEW, dtype: int64

## Final func

### Supporting funcs

In [0]:
def limit_categories(val):
  if val in ('Restaurants', 'Food', 'American (Traditional)', 'American (New)', 
             'Pizza', 'Breakfast & Brunch', 'Sandwiches', 'Seafood', 'Italian', 'Salad',
             'Mexican', 'Ice Cream & Frozen Yogurt', 'Coffee & Tea', 'Mediterranean',
             'Sushi Bars', 'Chinese', 'Soup', 'Bakeries', 'Thai', 'French', 
             'Asian Fusion', 'Burgers', 'Fast Food', 'Noodles', 'Diners', 'Vietnamese',
             'Japanese', 'Specialty Food', 'Caterers', 'Gluten-Free', 'Indian',
             'Steakhouses', 'Grocery', 'Vegetarian', 'Cajun/Creole','Delis',
             'Middle Eastern', 'Cambodian', 'Donuts', 'Cafes', 'Ethnic Food',
             'Tapas/Small Plates', 'Desserts', 'Barbeque', 'Southern', 'Brazilian', 
             'Lebanese', 'Bagels', 'Szechuan', 'Soul Food', 'Comford Food','Salvadoran',
             'Vegan', 'Mongolian', 'Irish', 'Tea Rooms','Buffets', 'Chicken Wings',
             'Comfort Food', 'Juice Bars & Smoothies', 'Greek', 'Gastropubs',
             'British', 'Korean', 'Cuban', 'Cupcakes', 'Caribbean','Food Stands',
             'Tacos','Creperies'):
    return ('restaurants')
  elif val in ('Bars', 'Nightlife', 'Breweries', 'Lounges', 'Pubs', 'Cocktail Bars', 
               'Wine Bars', 'Beer', 'Beer Bar', 'Dance Clubs', 'Sports Bars', 
               'Dive Bars', 'Beer Gardens'):
    return('bars')
  elif val in ('Beauty & Spas', 'Polish', 'Hair Salons', 'Nail Salons', 'Hair Removal',
                  'Barbers', 'Day Spas', 'Hair Stylists'):
    return('beauty_spa')
  elif val in ('Hotels & Travel', 'Hotels', 'Airports','Car Rental', 'Transportation',
               'Resorts', 'Airlines'):
    return('travel')
  elif val in ('Public Services & Government', 'Local Services', 'Education', 'Home Services'):
    return('public_service')
  elif val in ('Arts & Entertainment', 'Event Planning & Services', 'Venues & Event Spaces', 
               'Shopping', 'Active Life', 'Adult Entertainment', 'Museums', 'Stadiums & Arenas',
               'Fashion', 'Music & DVDs', 'Music Venues', 'Cinema', 'Gyms', 'Art Galleries',
               'Fitness & Instruction', 'Aquariums', 'Performing Arts', "Women's Clothing",
               'Yoga','Shopping Centers', 'Party & Event Planning', 'Wedding Planning', 
               'Festivals'):
    return('entertainment')
  return 'other'

def limit_neighborhood(val):
  if val in ('Gateway District', 'Ohio City', 'Tremont', 'Detroit-Shoreway', 'Goodrich Kirtland',
            'Warehouse District', 'University', 'Little Italy', 'Riverside', 'Civic Center'):
    return val
  return 'other'

def limit_address(val):
  if val in ('Euclid Ave', 'W 25th St', 'E 4th St', 'Lorain Ave', 'Mayfield Rd', 'Detroit Ave', 'Lee Rd', 'Coventry Rd', 
             'Professor Ave', 'Cedar Rd', 'W 11th St', 'Pearl Rd', 'Riverside Dr', 'Market Ave', 'W 6th St', 'Fulton Rd'):
    return val
  return 'other'

def open_hours(ser):
  return ser.str.split(':',1, expand = True).iloc[:,0].fillna('-1').astype(int)

def close_hours(ser):
  return ser.str.split('-',1, expand = True).iloc[:,1].str.split(':', expand=True).iloc[:,0].fillna('-1').astype(int)

def parking(ser):
  return ser.fillna('-1').astype(int)

positive_word, negative_word = [], []
with urllib.request.urlopen('https://raw.githubusercontent.com/pe44enka/Yelp/master/data/positive.txt') as url:
  for line in url:
    positive_word.append(url.readline().decode()[:-2])
with urllib.request.urlopen('https://raw.githubusercontent.com/pe44enka/Yelp/master/data/negative.txt') as url:
  for line in url:
    negative_word.append(url.readline().decode()[:-1])
def sent_analysis(val):
  negative = positive = 0
  for word in val.split():
    if word in negative_word:
      negative += 1 
    elif word in positive_word:
      positive += 1
  if negative > positive:
    return 'negative'
  elif negative < positive:
    return 'positive'
  else:
    return 'neutral'

def useful(val):
  if val > 1:
    return 'very useful'
  elif val == 1:
    return 'useful'
  else:
    return 'not rated'

def cool(val):
  if val > 1:
    return 'very cool'
  elif val == 1:
    return 'cool'
  else:
    return 'not rated'

def funny(val):
  if val > 1:
    return 'very funny'
  elif val == 1:
    return 'funny'
  else:
    return 'not rated'

In [271]:
def final_func(df):
  q0 = df.REVIEW.apply(sent_analysis).rename('review')
  q1 = df.STARS.rename('stars')
  q2 = pd.to_datetime(df.DATE_REVIEW).dt.year.rename('year')
  q3 = pd.to_datetime(df.DATE_REVIEW).dt.month.rename('month')
  q4 = pd.to_datetime(df.DATE_REVIEW).dt.day_name().rename('weekday')
  q5 = df.CATEGORIES.apply(limit_categories).rename('category')
  q6 = df.COMPANY_STARS.rename('company_star')
  q7 = df.COMPANY_REVIEWS.rename('company_review')
  q8 = pd.cut(df.COMPANY_REVIEWS, bins=8, labels=[str(x) for x in range(1,9)]).rename('reviewbin')
  q9 = df.IS_OPEN.rename('open')
  q10 = df.NEIGHBORHOOD.apply(limit_neighborhood).rename('district')
  q11 = df.ADDRESS.str.split(' ', 1 ,expand = True).loc[:,1].apply(limit_address).rename('street')
  q12 = df.POSTAL_CODE.fillna('0').astype(int).rename('post_code')
  q13 = df.ACCEPT_CREDIT_CARD.fillna('-1').astype(int).rename('accept_credit_card')
  q14 = open_hours(df.HOURS_MONDAY).rename('mon_open')
  q15 = close_hours(df.HOURS_MONDAY).rename('mon_close')
  q16 = open_hours(df.HOURS_TUESDAY).rename('tue_open')
  q17 = close_hours(df.HOURS_TUESDAY).rename('tue_close')
  q18 = open_hours(df.HOURS_WEDNESDAY).rename('wed_open')
  q19 = close_hours(df.HOURS_WEDNESDAY).rename('wed_close')
  q20 = open_hours(df.HOURS_THURSDAY).rename('thu_open')
  q21 = close_hours(df.HOURS_THURSDAY).rename('thu_close')
  q22 = open_hours(df.HOURS_FRIDAY).rename('fri_open')
  q23 = close_hours(df.HOURS_FRIDAY).rename('fri_close')
  q24 = open_hours(df.HOURS_SATURDAY).rename('sat_open')
  q25 = close_hours(df.HOURS_SATURDAY).rename('sat_close')
  q26 = open_hours(df.HOURS_SUNDAY).rename('sun_open')
  q27 = close_hours(df.HOURS_SUNDAY).rename('sun_close')
  q28 = parking(df.PARKING_GARAGE).rename('park_garage')
  q29 = parking(df.PARKING_STREET).rename('park_street')
  q30 = parking(df.PARKING_LOT).rename('park_lot')
  q31 = parking(df.PARKING_VALIDATED).rename('park_valid')
  q32 = parking(df.PARKING_VALLET).rename('park_vallet')
  q33 = parking(df.PARKING_BIKE).rename('park_bike')
  q34 = df.USEFUL_REVIEW.apply(useful).rename('useful_review')
  q35 = df.COOL_REVIEW.apply(cool).rename('cool_review')
  q36 = df.FUNNY_REVIEW.apply(funny).rename('funny_review')

  return pd.concat([q0, q1, q2, q3, q4, q5, q6, q7, q8, q9, q10, q11, q12, q13, 
                    q14, q15, q16, q17, q18, q19, q20, q21, q22, q23, q24, q25, 
                    q26, q27, q28, q29, q30, q31, q32, q33, q34, q35, q36], axis = 1)

result_df = final_func(df.iloc[:10])
result_df.head()

  #category
  #is_open
  #company_stars
  #company_reviews
  #neigbourhood

     review  stars  year  ...  useful_review cool_review funny_review
0  negative      2  2013  ...    very useful   very cool   very funny
1  negative      2  2009  ...    very useful   very cool   very funny
2   neutral      1  2015  ...      not rated   not rated    not rated
3  positive      4  2015  ...    very useful   not rated    not rated
4   neutral      3  2012  ...         useful        cool        funny

[5 rows x 37 columns]